<div class="container">
    <div class="wrapper">
        <div class="team-crest">
            <img src="{{data.team.crestUrl}}" />
        </div>
        <img src="data:image/png;base64, {{data.mapSrc}}"/>
        <h1> Team name : {{data.team.name}}</h1>
        {{>teamInfo items=data.team}}
        <div class="buttons-container">
            <button type="button" onclick="window.location='/team/{{data.team.id}}/edit'">Edit</button>
            <button type="button" onclick="window.location='/team/{{data.team.id}}/delete'">Delete</button>
        </div>
    </div>
</div>
