<table>
    <tr>
        <th>       </th>
        <th>{{items.name}}</th>
    </tr> 
    <tr>
        <th>Address: </th>
        <td>{{items.address}}</td>
    </tr> 
    <tr>
        <th>Phone: </th>
        <td>{{items.phone}}</td>
    </tr> 
    <tr>
        <th>Website: </th>
        <td>{{items.website}}</td>
    </tr> 
    {{#if items.email}}
    <tr>
        <th>Email: </th>
        <td>{{items.email}}</td>
    </tr> 
    {{/if}}
    <tr>
        <th>Founded: </th>
        <td>{{items.founded}}</td>
    </tr> 
    <tr>
        <th>Club Colors: </th>
        <td>{{items.clubColors}}</td>
    </tr> <tr>
        <th>Venue: </th>
        <td>{{items.venue}}</td>
    </tr> 
    
</table>
